html{
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
}

.screen {
    position: absolute;
    background-color: white;
    overflow: hidden;
}

.hidden{
  display: none;
}

.transactionItem,
.assetItem,
.expenseItem{
  display: flex;
  flex-direction: row;
  height: 14%;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5%;
}

.transactionItemType{
  height: 100%;
  width: 30%;
}

.transactionItemDesc{
  height: 100%;
  width: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.transactionItemMoney{
  height: 100%;
  width: 16%;
  text-align: right;
}

.assetItemName,
.expenseItemName{
  height: 100%;
  width: 40%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.assetItemFreq,
.expenseItemFreq{
  height: 100%;
  width: 28%;
  text-align: right;
}

.assetItemMoney,
.expenseItemMoney{
  height: 100%;
  width: 30%;
}

#screenCover{
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.6;
  z-index: 100;
  position: absolute;
}

#eventModal{
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  position: absolute;
  margin: 0;
  background-color: #CFFFB3;
  z-index: 1000;
}

#eventModalHeader{
  width: 100%;
  height: 10%;
  background-color: #ADE25D;
}

#eventModalTitle{
  width: 40%;
  left: 2%;
  height: 10%;
  padding: 1%;
  position: absolute;
  font-size: 1.5rem;
}

#eventModalClose{
  width: 5%;
  right: 0.5%;
  height: 4%;
  top: 0;
  padding: 0%;
  position: absolute;
  font-size: 2.5rem;
}

#eventModalClose:hover{
  color: #ff0303;
}

#eventModalContent{
  width: 100%;
  height: 90%;
  background-color: #CFFFB3;
}

#eventModalScenario{
  width: 80%;
  padding: 4%;
  margin-left: 5%;
  height: 38%;
  font-size: 2.2rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-color: #CFFFB3;
  border-style: solid;
  border-width: 0.4rem;
}

#eventModalChoices{
  width: 90%;
  padding: 5%;
  height: 30%;
  display: flex;
}

#eventModalTrueChoice,
#eventModalFalseChoice{
  width: 30%;
  padding: 5%;
  padding-top: 2.5%;
  text-align: center;
  margin: 5%;
  background-color: #3B7080;
  border-radius: 1rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
  cursor: pointer;
  font-size: 2.6rem;
      color: white;
}

#eventModalTrueChoice:active,
#eventModalFalseChoice:active{
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.3rem);
}

#header{
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    background-color: #ADE25D;
}

#content{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    margin: 0px;
}

#footer{
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px;
      background-color: #ADE25D;
}

#leftBarContent{
  width: 18%;
  padding: 1%;
  height: 98%;
  position: absolute;
  left: 0;
  margin: 0px;
  background-color: #CFFFB3;
}

#leftBarContentPhotoContainer{
  width: 86%;
  padding: 2%;
  height: 22%;
  margin: 0px;
  left: 5%;
  top: 2%;
  position: absolute;
  background-color: #3B7080;
}

#profilePic{
  width: 100%;
  height: 100%;
}

hr{
  margin: 0;
  margin-bottom: 5%;
  border-width: 0.0625rem;
  color: #ADE25D;
  border-color: #ADE25D;
}
#profileName{
  width: 100%;
  height: 12%;
  text-align: center;
  font-family: "Impact", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

#profileStatus,
#profileHousing,
#profileDependants,
#profileEmployment{
  display: flex;
  color: #ADE25D;
  font-family: "American Typewriter", monospace;
  /* change font size respectively, i don't know how and can't figure it out*/
  flex-direction: row;
  width: 100%;
  height: 20%;
}

#profileStatusTitle,
#profileHousingTitle,
#profileEmploymentTitle,
#profileDependantsTitle{
  font-size: 1.0rem;
  width: 40%;
  color: white;
}

#profileStatusContent,
#profileEmploymentContent,
#profileHousingContent,
#profileDependantsContent{
  font-size: 1.0rem;
  text-align: center;
  width: 55%;
  margin-left: 5%;
}

#leftBarContentProfileData{
  width: 80%;
  padding: 5%;
  height: 30%;
  margin: 0px;
  top: 27%;
  left: 5%;
  position: absolute;
  background-color: #3B7080;
}

#leftBarContentProfileBalance{
  width: 80%;
  padding: 5%;
  height: 32.5%;
  margin: 0px;
  left: 5%;
  bottom: 2%;
  position: absolute;
  background-color: #3A5743;
  font-family: "Impact", sans-serif;
}

#centerContent{
  width: 48%;
  padding: 1%;
  height: 98%;
  position: absolute;
  left: 20%;
  margin: 0px;
  background-color: #CFFFB3;
}

#centerContentTransactionLog{
  width: 94%;
  margin: 0px;
  padding: 1%;
  height: 36%;
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: "Impact", sans-serif;
  background-color: #3A5743;
}

#centerContentButtonContainer{
  width: 94%;
  margin: 0px;
  padding: 1%;
  height: 54%;
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color: #3B7080;
}

#centerContentButton{
  width: 42%;
  height: 49%;
  left: 30%;
  top: 25%;
  border-radius: 100%;
  position: absolute;
  background-color: grey;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/clickerbuttonround.png");
  background-position: center;
  background-size:contain;
}

#centerContentButton:active {
  box-shadow: 0 0.3125rem grey;
  transform: translateY(0.3rem);
}

#rightBarContent{
  width: 28.5%;
  padding: 1%;
  height: 98%;
  position: absolute;
  left: 70%;
  margin: 0px;
  background-color: #CFFFB3;
}

#rightBarContentAssets{
  width: 80%;
      padding: 5%;
      height: 41.5%;
      margin: 0px;
      left: 5%;
      top: 2%;
      position: absolute;
      background-color: #3A5743;
}

#rightBarContentExpenses{
  width: 80%;
      padding: 5%;
      height: 43%;
      margin: 0px;
      left: 5%;
      bottom: 2%;
      position: absolute;
      background-color: #3A5743;
}


#rightBarContentAssetsTitle,
#rightBarContentExpensesTitle,
#centerContentTransactionLogTitle,
#leftBarContentProfileBalanceTitle{
  width: 100%;
  height: 10%;
  margin: 0;
  color: #CFFFB3;
  font-family: "Impact", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

#rightBarContentAssetsContent,
#rightBarContentExpensesContent,
#centerContentTransactionLogContent{
  width: 100%;
  height: 80%;
  margin: 0;
  color: #CFFFB3;
  font-family: "American Typewriter", monospace;
  background-color: #3A5743;
  overflow-x: hidden;
  overflow-y: auto;
}

#leftBarContentProfileBalanceContent{
  width: 90%;
  height: 20%;
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: center;
  background-color: #3A5743;
  color: #CFFFB3;
  font-family: "American Typewriter", monospace;
  font-size: 2rem;
}
